<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FalconBMS.Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FalconBMS.Launcher.Properties.Settings>
            <setting name="LastInstall" serializeAs="String">
                <value />
            </setting>
            <setting name="ThirdPartyWdpExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ThirdPartyMissionCommanderExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ThirdPartyWeatherCommanderExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ThirdPartyF4WxExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ThirdPartyF4RadarExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CMD_ACMI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CMD_WINDOW" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CMD_NOMOVIE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CMD_EF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CMD_MONO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VR_NoVR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VR_SteamVR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VR_OpenXR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Misc_bExportRTTTextures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Misc_RLNWS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Misc_TrackIRZ" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Misc_ExMouseLook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_NaturalHeadMovement" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_PilotModel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_SmartScalingOverride" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LauncherThemeMode" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="ControlsDeviceColumnOrder" serializeAs="String">
                <value />
            </setting>
        </FalconBMS.Launcher.Properties.Settings>
    </userSettings>
</configuration>